@namespace Distribution.UI.Components
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div> 

<div class="text-center">
	@(await Html.RenderComponentAsync<Sample>(RenderMode.ServerPrerendered))
</div>

<div class="text-center">

    <form action="@Url.Action("Area", "Triangle")" method="post">
        <button type="submit" class="btn btn-success">Sprint Tasks</button>
    </form>

    <p>Task 1: Show the info about a triangle</p>
    <p><a href="/Product/Info">Information about products</a></p>
    <p><a href="/Shop/Info">Information about markets</a></p>



</div>

