@model List<ShoppingListModel>
@inject Distribution.BLL.Services.Interfaces.ITimeService Timer
@{
    ViewData["Title"] = "ShoppingList";
}

<h1 align="center">Shopping list of users</h1>
<table class="table">
    <tbody>
        @foreach (var shoppingList in Model)
        {
            <tr class="text-center" bgcolor="#f2f2f2"><td><b>@shoppingList.FullName</b></td><td></td><td></td><td></td></tr>
            @for (int i = 0; i < shoppingList.Baskets.Count; i++)
            {
                <tr class="green">
                    <th></th>
                    <th><b>List#@(i + 1)</b></th>
                    <th><b>Title</b></th>
                    <th><b>Amount</b></th>
                </tr>
                @foreach (var basketItem in shoppingList.Baskets[i])
                {
                    <tr class="text-center">
                        <td></td>
                        <td></td>
                        <td>@basketItem.Product.Title</td>
                        <td>@basketItem.Amount</td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<marquee scrolldelay="30" truespeed behavior="alternate" direction="right" bgcolor="#ffcc00">
    <h2><strong>It's time to shopping!</strong></h2>
</marquee>
<h5 align="center">@Timer.GetTimeForTomorrow()</h5>


