@model Dictionary<string, Dictionary<int, DateTime>>

<div class="text-center">
	@if (Model.Count == 0)
	{
		<p>There is not any Shopping Cart</p>
	}
	else
	{
		@foreach (var user in Model)
		{
			<tr>
				<td class="text-left">
					@user.Key
				</td>
			</tr>
			<tr>
				<td class="text-left">
					<ul>
						@foreach (var shop in user.Value)
						{
							<li><a href="@Url.Action("ShoppingCart", "Tasks", new { id = @shop.Key })">@shop.Value</a></li>
						}
					</ul>
				</td>
			</tr>
		}
	}
</div>
