
@{
    ViewData["Title"] = "SprintTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sprint13. Tasks</h1>
<div class="text-left">

	<p><a href="/Tasks/Greetings">Greetings</a></p>

	<p><a href="/Tasks/ProductInfo">Products</a></p>

	<p><a href="/Tasks/SuperMarkets">Supermarkets</a></p>

	<p><a href="/Tasks/ShoppingList">Shopping list of users</a></p>

	<p><a href="/Tasks/ShoppingCart">Shopping cart</a></p>

</div>


