
@{
    ViewData["Title"] = "SprintTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sprint13. Tasks</h1>
<div class="text-left">

    <p><a href="/Tasks/Greetings">Greetings</a></p>

    <p><a href="/Product/Info">Products</a></p>

    <p><a href="/Shop/Info">Supermarkets</a></p>

    <p><a href="/Home/InitialData">Initiate data</a></p>

    <p><a href="/Shopping/ShoppingList">Shopping list of users</a></p>

    <p><a href="/Tasks/ShoppingCart">Shopping cart</a></p>

</div>


